# Force LF line endings for shell scripts and config
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.db binary
